<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{/layout}"
>
  <head>
    <title>뉴스 목록</title>
  </head>
  <body>
    <div th:fragment="content" class="list">
      <div class="container news-container">
        <ul class="list">
          <li th:each="translatedNews : ${newsList}" class="card news-item">
            <a th:href="${translatedNews.news.url}">
              <img
                th:src="${translatedNews.news.urlToImage}"
                alt="썸네일"
                class="thumbnail"
              />
              <div class="card-body">
                <p th:text="${translatedNews.translatedTitle}">뉴스 제목</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
