<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout}"
>
  <head>
    <title>헤드라인 뉴스</title>
    <script>
      function showCodes(element) {
        const codesList = element.querySelector(".country-codes");
        codesList.style.display = "block";
      }

      function hideCodes(element) {
        const codesList = element.querySelector(".country-codes");
        codesList.style.display = "none";
      }
      function navigateToCountry(countryCode) {
        window.location.href = `/news/news/list?country=${countryCode}`;
      }
    </script>
  </head>
  <body>
    <div th:fragment="content" class="list">
      <nav>
        <ul class="country">
          <li><a th:href="@{/news/list?country=kr}">한국</a></li>
          <li><a th:href="@{/news/list?country=us}">미국</a></li>
          <li><a th:href="@{/news/list?country=cn}">중국</a></li>
          <li><a th:href="@{/news/list?country=jp}">일본</a></li>
          <li
            class="additional-item"
            onmouseover="showCodes(this)"
            onmouseout="hideCodes(this)"
          >
            더보기
            <ul class="country-codes">
              <li onclick="navigateToCountry('AE')">AE - 아랍에미리트</li>
              <li onclick="navigateToCountry('AR')">AR - 아르헨티나</li>
              <li onclick="navigateToCountry('AT')">AT - 오스트리아</li>
              <li onclick="navigateToCountry('AU')">AU - 오스트레일리아</li>
              <li onclick="navigateToCountry('BE')">BE - 벨기에</li>
              <li onclick="navigateToCountry('BG')">BG - 불가리아</li>
              <li onclick="navigateToCountry('BR')">BR - 브라질</li>
              <li onclick="navigateToCountry('CA')">CA - 캐나다</li>
              <li onclick="navigateToCountry('CH')">CH - 스위스</li>
              <li onclick="navigateToCountry('CO')">CO - 콜롬비아</li>
              <li onclick="navigateToCountry('CU')">CU - 쿠바</li>
              <li onclick="navigateToCountry('CZ')">CZ - 체코</li>
              <li onclick="navigateToCountry('DE')">DE - 독일</li>
              <li onclick="navigateToCountry('EG')">EG - 이집트</li>
              <li onclick="navigateToCountry('FR')">FR - 프랑스</li>
              <li onclick="navigateToCountry('GB')">GB - 영국</li>
              <li onclick="navigateToCountry('GR')">GR - 그리스</li>
              <li onclick="navigateToCountry('HK')">HK - 홍콩</li>
              <li onclick="navigateToCountry('HU')">HU - 헝가리</li>
              <li onclick="navigateToCountry('ID')">ID - 인도네시아</li>
              <li onclick="navigateToCountry('IE')">IE - 아일랜드</li>
              <li onclick="navigateToCountry('IL')">IL - 이스라엘</li>
              <li onclick="navigateToCountry('IN')">IN - 인도</li>
              <li onclick="navigateToCountry('IT')">IT - 이탈리아</li>
              <li onclick="navigateToCountry('LT')">LT - 리투아니아</li>
              <li onclick="navigateToCountry('LV')">LV - 라트비아</li>
              <li onclick="navigateToCountry('MA')">MA - 모로코</li>
              <li onclick="navigateToCountry('MX')">MX - 멕시코</li>
              <li onclick="navigateToCountry('MY')">MY - 말레이시아</li>
              <li onclick="navigateToCountry('NG')">NG - 나이지리아</li>
              <li onclick="navigateToCountry('NL')">NL - 니카라과</li>
              <li onclick="navigateToCountry('NO')">NO - 노르웨이</li>
              <li onclick="navigateToCountry('NZ')">NZ - 뉴질랜드</li>
              <li onclick="navigateToCountry('PH')">PH - 필리핀</li>
              <li onclick="navigateToCountry('PL')">PL - 폴란드</li>
              <li onclick="navigateToCountry('PT')">PT - 포르투갈</li>
              <li onclick="navigateToCountry('RO')">RO - 루마니아</li>
              <li onclick="navigateToCountry('RS')">RS - 세르비아</li>
              <li onclick="navigateToCountry('RU')">RU - 러시아</li>
              <li onclick="navigateToCountry('SA')">SA - 사우디아라비아</li>
              <li onclick="navigateToCountry('SE')">SE - 스웨덴</li>
              <li onclick="navigateToCountry('SG')">SG - 싱가포르</li>
              <li onclick="navigateToCountry('SI')">SI - 슬로베니아</li>
              <li onclick="navigateToCountry('SK')">SK - 슬로바키아</li>
              <li onclick="navigateToCountry('TH')">TH - 태국</li>
              <li onclick="navigateToCountry('TR')">TR - 튀르키예</li>
              <li onclick="navigateToCountry('TW')">TW - 대만</li>
              <li onclick="navigateToCountry('UA')">UA - 우크라이나</li>
              <li onclick="navigateToCountry('VE')">VE - 베네수엘라</li>
              <li onclick="navigateToCountry('ZA')">ZA - 남아프리카 공화국</li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="container news-container">
        <ul class="list">
          <li th:each="news : ${newsList}" class="card news-item">
            <a th:href="${news.url}" target="_blank">
              <img
                th:src="${news.urlToImage != null} ? ${news.urlToImage} : '/news/static/images/no-image.jpg'"
                alt="썸네일"
                class="thumbnail"
              />
              <div class="card-body">
                <span th:text="${news.title}" class="title">뉴스 제목</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
