<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout}"
>
  <head>
    <title>미디어</title>
  </head>
  <body>
    <div th:fragment="content" class="list">
      <div class="container media-container">
        <ul class="list">
          <li th:if="${mediaList == null or mediaList.isEmpty()}">
            등록된 미디어가 없습니다.
          </li>
          <li th:each="media : ${mediaList}" class="card media-item">
            <a th:href="${media.url}">
              <div class="card-body">
                <p th:text="${media.name}">이름:</p>
                <p th:text="${media.description}">설명:</p>
                <p th:text="'카테고리: ' + ${media.category}">카테고리:</p>
                <p th:text="'언어: ' + ${media.language}">언어:</p>
                <p th:text="'국가: ' + ${media.country}">국가:</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
