<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout}"
>
  <head>
    <title>검색 결과</title>
  </head>
  <body>
    <div th:fragment="content" class="search">
      <h1><span th:text="${word}" class="word"></span> 검색 결과</h1>
      <div class="container news-container">
        <ul class="search">
          <li th:each="news : ${newsList}" class="card news-item">
            <a th:href="@{/news/article/{n_no}(n_no=${news.n_no})}">
              <img
                th:src="${news.urlToImage != null} ? ${news.urlToImage} : '/news/static/images/no-image-icon.png'"
                alt="썸네일"
                class="thumbnail"
              />
              <div class="card-body">
                <p th:text="${news.title}">뉴스 제목</p>
                <p th:text="${news.description}">뉴스 설명</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
